@font-face {
    font-family: 'HSJiptokki Black';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HSJiptokkiBlack/HSJiptokkiBlack.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HSJiptokkiBlack/HSJiptokkiBlack.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HSJiptokkiBlack/HSJiptokkiBlack.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HSJiptokkiBlack/HSJiptokkiBlack.ttf') format('truetype');
}
